<footer>
    <div class="container container-fluid footer-container">
        <div class="row">
            <div class="col">
                <p>
                    <a href=""><i class="fa-brands fa-instagram footer-text"></i></a>
                    <a href=""><i class="fa-brands fa-facebook footer-text"></i></a>
                    <a href=""><i class="fa-brands fa-spotify footer-text"></i></a>
                </p>
                <p>
                    <a href=""><i class="fa-brands fa-tiktok footer-text"></i></a>
                    <a href=""><i class="fa-brands fa-youtube footer-text"></i></a>
                    <a href=""><i class="fa-brands fa-bandcamp footer-text"></i></a>
                </p>
            </div>
            <div class="col">
                <img src="/images/iconWhite.png" alt="vanitas logo" class="bottom-logo">
            </div>
            <div class="col">
                <p class="footer-text">Join our Mailing list for more!</p>
                <button class="btn btn-outline-light" type="submit">Sign Up</button>
            </div>
        </div>
    </div>
</footer>

</body>

</html>