<footer>
    <div class="container container-fluid footer-container">
        <div class="row">
            <div class="col">
                <p>
                    <a href="https://www.instagram.com/vanitasband/"><i class="fa-brands fa-instagram standard-icon"></i></a>
                    <a href="https://www.facebook.com/vanitasbanduk"><i class="fa-brands fa-facebook standard-icon"></i></a>
                    <a href="https://open.spotify.com/artist/30ILesu0u0JsyLG9F9etTx"><i class="fa-brands fa-spotify standard-icon"></i></a>
                </p>
                <p>
                    <a href="https://www.tiktok.com/@vanitasband"><i class="fa-brands fa-tiktok standard-icon"></i></a>
                    <a href="https://www.youtube.com/channel/UCbUDhEmMGWQF-ddLoGzrkfg/featured"><i class="fa-brands fa-youtube standard-icon"></i></a>
                    <a href="https://vanitasband.bandcamp.com/album/vanitas"><i class="fa-brands fa-bandcamp standard-icon"></i></a>
                </p>
            </div>
            <div class="col">
                <img src="/images/iconWhite.png" alt="vanitas logo" class="bottom-logo">
            </div>
            <div class="col">
                <p class="footer-text">Join our Mailing list for more!</p>
                <button class="btn btn-outline-light" type="submit">Sign Up</button>
            </div>
        </div>
    </div>
</footer>

</body>

</html>