<%- include('partials/header') -%>

    <div class="container standard-container">
        <h1 class="standard-h1">VANITAS</h1>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <img class="bio-pic" src="/images/biographyPicOne.jpg" alt="Vanitas promo picture">
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <p>Vanitas are a progressive metal band from Birmingham, UK. Formed in 2022 from previously established
                    bands 'Aramantus' and 'Verb The Noun' supporting the likes of prog acts such as Monuments and
                    Voyager, the 5-piece burst into the UK metal scene with technical riffs, big orchestral soundscapes
                    and soaring vocals, with what they call ‘cinematic djent’.</p>
                <p>Taking inspiration from bands such as: Periphery, Tesseract, Unprocessed, Veil of Maya, Devin
                    Townsend and more, Vanitas debuted in Feb 2022 with their epic single ‘Ghostly Coast’. Vanitas began
                    making waves across the UK scene with a reputation for exuberant live performances “Within moments,
                    I was blown away by the level of performance given by the act both musically and visually.The band
                    relentlessly gave their all in one of the tightest performances I’ve had the pleasure of watching
                    from a new project in an incredibly long time.” (Rock N Load).</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <p>Following this, Vanitas released their debut 4 track self-titled EP in June of 2022.</p>
                <p>Described as “music with depth, texture and meaning that cries out to be heard” (Metal Noise) and
                    compared to “Periphery meets Disney” their debut EP has amassed over 10K streams on spotify and a
                    collective 14K views on Youtube and continues to grow.</p>
                <p>Vanitas make their return with upcoming single ‘Eventum ’an anthem for the anti-hero, a dynamic
                    progressive piece that builds and explodes like a firework. To be released April 2023.</p>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <img class="bio-pic" src="/images/biographyPicTwo.jpg" alt="Vanitas promo picture">
            </div>
        </div>

        <hr>
        <div class="col-lg-3 col-md-6 col-sm-12 bio-col">
            <img class="member-pic" src="/images/jadePromoPic.jpg" alt="Jades Picture">
            <div class="member-overlay">
                <div class="member-text">
                    <h3>Jade Maris</h3>
                    <a href="https://www.instagram.com/jademarisvocals/"><i
                            class="fa-brands fa-instagram standard-icon"></i></a>
                    <a href="https://www.facebook.com/jademarisvocalsk"><i
                            class="fa-brands fa-facebook standard-icon"></i></a>
                    <a href="https://www.youtube.com/@jademarisvocals1991/featured"><i
                            class="fa-brands fa-youtube standard-icon"></i></a>
                    <a href="https://www.tiktok.com/@jademarisvocals"><i
                            class="fa-brands fa-tiktok standard-icon"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-1 bio-col">
            <img class="member-pic" src="/images/mitchPromoPic.jpg" alt="Mitches picture">
            <div class="member-overlay">
                <div class="member-text">
                    <h3>Mitchell Barlow</h3>
                    <a href="https://www.instagram.com/mitchellbarlowmusic/"><i
                            class="fa-brands fa-instagram standard-icon"></i></a>
                    <a href="https://www.youtube.com/@mitchellbarlowmusic200/videos"><i
                            class="fa-brands fa-youtube standard-icon"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-1 bio-col">
            <img class="member-pic" src="/images/jonPromoPic.jpg" alt="Jon's picture">
            <div class="member-overlay">
                <div class="member-text">
                    <h3>Jon </h3>
                    <a href="https://www.instagram.com/jontyfreack/"><i
                            class="fa-brands fa-instagram standard-icon"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-1 bio-col">
            <img class="member-pic" src="/images/jacksonPromoPic.jpg" alt="Jackson's picture">
            <div class="member-overlay">
                <div class="member-text">
                    <h3>Jackson Cann</h3>
                    <a href="https://www.instagram.com/jcannmusic/"><i
                            class="fa-brands fa-instagram standard-icon"></i></a>
                    <a href="https://www.youtube.com/@JacksonCannMusic/featured"><i
                            class="fa-brands fa-youtube standard-icon"></i></a>
                    <a href="https://www.tiktok.com/@jcannmusic"><i class="fa-brands fa-tiktok standard-icon"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-1 bio-col">
            <img class="member-pic" src="/images/elijahPromoPic.jpg" alt="Elijah's picture">
            <div class="member-overlay">
                <div class="member-text">
                    <h3>Elijah Storer </h3>
                    <a href="https://www.instagram.com/elijahsguitar/">
                        <i class="fa-brands fa-instagram standard-icon"></i></a>
                </div>
            </div>
        </div>

    </div>
    </div>



    <%- include('partials/footer') -%>