<%- include('partials/header') -%>

<div class="container standard-container">
    <div class="row">
        <div class="col">
            <h1 class="standard-h1">Contact Us</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 >For bookings please contact us at <a href="management@vanitasband.com">management@vanitasband.com</a></h3>
            <h3>Managed by Dark North Media, contact at <a href="management@vanitasband.com">canty@darknorthmedia.com</a></h3>
        </div>
    </div>

</div>

<%- include('partials/footer') -%>