<%- include('partials/header') -%>

  <div class="container standard-container">
    <div class="row">
      <div class="col">
        <h1 class="standard-h1">Contact Us</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3>For bookings/inquiries please email us at <strong>management@vanitasband.com</strong></h3>
        <h3>Managed by Dark North Media, contact at <strong>canty@darknorthmedia.com</strong>
        </h3>
      </div>
    </div>
    <div class="row">
      <form action="/" method="post" class="mailchimp-form">
        <img class="mb-4 bottom-logo" src="images/iconWhite.png" alt="">
        <h1 class="h3 mb-3 fw-normal">Sign up to Vanitas' Newsletter!</h1>

        <div class="form-group">
          <!-- <label for="mailchimpFName">First Name</label> -->
          <input type="text" class="form-control top" placeholder="first Name" name="fName" id="mailchimpFName">
        </div>
        <div class="form-group">
          <!-- <label for="mailchimpLName">Last Name</label> -->
          <input type="text" class="form-control middle" placeholder="Last Name" name="lName" id="mailchimpLName">
        </div>
        <div class="form-group">
          <input type="email" class="form-control bottom" placeholder="yourname@example.com" name="email">
        </div>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-outline-light" type="submit">Sign me Up!</button>
      </form>
    </div>



  </div>

  <%- include('partials/footer') -%>