<%- include('partials/header') -%>

    <div class="container standard-container">
        <div class="row">
            <div class="col">
                <h1 class="standard-h1">Electronic Press Kit</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <img src="images/eventumArtwork.jpg" alt="Eventum Artwork" class="eventum-artwork-two">
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <p class="epk-text">Everybody wants to feel like the hero of their own story; Eventum is an anthem for
                    the anti-hero,
                    a dynamic progressive piece that builds and explodes like a firework. Eventum tells a story of
                    redemption to power through your darkest days to come out the otherside a better person.
                    Following the success of their debut self-titled EP in 2022, Vanitas make their return May 2023
                    with their new single Eventum, which builds from a soothing acoustic introduction to a soaring
                    chorus with a signature djent flavour.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3 class="standard-h3">Socials & Links</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="https://open.spotify.com/artist/30ILesu0u0JsyLG9F9etTx"><i class="fa-brands fa-spotify standard-icon icon-epk"></i></a>
                <a href="https://www.youtube.com/channel/UCbUDhEmMGWQF-ddLoGzrkfg/featured"><i class="fa-brands fa-youtube standard-icon icon-epk"></i></a>
                <a href="https://www.instagram.com/vanitasband/"><i class="fa-brands fa-instagram standard-icon icon-epk"></i></a>
                <a href="https://www.facebook.com/vanitasbanduk"><i class="fa-brands fa-facebook standard-icon icon-epk"></i></a>
                <a href="https://www.tiktok.com/@vanitasband"><i class="fa-brands fa-tiktok standard-icon icon-epk"></i></a>
                <a href="https://www.twitch.tv/vanitasband"><i class="fa-brands fa-twitch standard-icon icon-epk"></i></a>
                <a href="https://vanitasband.bandcamp.com/album/vanitas"><i class="fa-brands fa-bandcamp standard-icon icon-epk"></i></a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="standard-h2">Email & Management Contact</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3 class="standard-h3">Bookings and enquiries <strong><a
                            href="mailto:anagement@vanitasband.com">management@vanitasband.com</a></strong></h3>
                <h3 class="standard-h3">management <strong><a
                            href="mailto:canty@darknorthmedia.com">canty@darknorthmedia.com</a></strong></h3>
                <h3 class="standard-h3">management Website <a
                        href="http://darknorthmedia.com/">http://darknorthmedia.com/</a></h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="standard-h2">Band Biography</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Vanitas are a progressive metal band from Birmingham, UK. Formed in 2022 from previously established
                    bands 'Aramantus' and 'Verb The Noun' supporting the likes of prog acts such as Monuments and
                    Voyager, the 5-piece burst into the UK metal scene with technical riffs, big orchestral soundscapes
                    and soaring vocals, with what they call ‘cinematic djent’.</p>
                <p>Taking inspiration from bands such as: Periphery, Tesseract, Unprocessed, Veil of Maya, Devin
                    Townsend and more, Vanitas debuted in Feb 2022 with their epic single ‘Ghostly Coast’. Vanitas began
                    making waves across the UK scene with a reputation for exuberant live performances “Within moments,
                    I was blown away by the level of performance given by the act both musically and visually.The band
                    relentlessly gave their all in one of the tightest performances I’ve had the pleasure of watching
                    from a new project in an incredibly long time.” (Rock N Load).</p>
                <p>Following this, Vanitas released their debut 4 track self-titled EP in June of 2022.</p>
                <p>Described as “music with depth, texture and meaning that cries out to be heard” (Metal Noise) and
                    compared to “Periphery meets Disney” their debut EP has amassed over 10K streams on spotify and a
                    collective 14K views on Youtube and continues to grow.</p>
                <p>Vanitas make their return with upcoming single ‘Eventum ’an anthem for the anti-hero, a dynamic
                    progressive piece that builds and explodes like a firework. Released May 2023.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="standard-h2">Photos</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <a href="/images/biographyPicOne" download="vanitasPromoPicOne"><img class="promo-pic"
                        src="/images/biographyPicOne.jpg" alt="Vanitas promo picture"></a>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <a href="/images/biographyPicTwo.jpg" download="vanitasPromoPicTwo"><img class="promo-pic"
                        src="/images/biographyPicTwo.jpg" alt="Vanitas promo picture"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <a href="/images/vanitasPromoPicFour.jpg" download="vanitasPromoPicFour"><img class="promo-pic"
                    src="/images/vanitasPromoPicFour.jpg" alt="Vanitas promo picture"></a>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <a href="/images/vanitasPromoPicFive.jpg" download="vanitasPromoPicFive"><img class="promo-pic"
                    src="/images/vanitasPromoPicFive.jpg" alt="Vanitas promo picture"></a>
                        
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="/images/vanitasPromoPicThree.jpg" download="vanitasPromoPicThree"><img class="promo-pic-two"
                    src="/images/vanitasPromoPicThree.jpg" alt="Vanitas promo picture"></a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3 class="standard-h3">Press</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    “This is music with depth, texture and meaning that cries out to be heard, a more polished and
                    refined debut you may struggle to find, such is the quality of this offering from a collection of
                    musicians who have executed their vision to perfection”
                </p>
                <a href="https://metalnoise.net/2022/06/review-self-titled-by-vanitas">-8.5/10 Metal Noise</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    “Providing an eerie and chilling backdrop, the melody that begins Ghostly Coast certainly gets the
                    attention but It's the eruption of progressive and technical metal that follows most will remember.
                    The guitars are buzzing, the drums are hammering and the vocals are soaring, it’s a grandiose opener
                    that shows exactly what Vanitas mean by ‘cinematic djent’. A track to remember and a clear statement
                    from this band.”
                </p>
                <a href="https://www.gbhbl.com/ep-review-vanitas-vanitas-self-released/">-8/10 Games,Brains & A
                    Head-Banging Life</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    “Within moments, I was blown away by the level of performance given by the act both musically and
                    visually. With their setlist covering their entire EP, a Devin Townsend cover and their cover of
                    Attack on Titan Final Season Part 2’s opening The Rumbling as an encore, the band relentlessly gave
                    their all in one of the tightest performances I’ve had the pleasure of watching from a new project
                    in an incredibly long time. An amazing set by a band destined for big things.”
                </p>
                <a
                    href="https://rocknloadmag.com/news/vanitas-ep-launch-show-w-supports-from-viridity-axiom-and-a-titan-a-deity-the-flapper-birmingham/">Rock
                    N Load, Live Review</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    “The quality of the musicianship is sublime, the riffs coming thick and fast, packed with groove
                    drawn from djent roots , as the theatrical synths and strings make for a distinct counterpoint,
                    Carry On especially is where Periphery meets Disney, it's written almost as a ballad but with
                    progressive drumming sitting underneath those chunky riffs”
                </p>
                <a href="http://musipediaofmetal.blogspot.com/search?q=vanitas">-8/10 Musipedia of Metal</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    “Melodic guitar lines and solos are pinned down by a watertight rhythm section of bass bludgeon and
                    some seriously insane kick drumming from Marc Watkins! The vocals raise you up and don’t let go
                    until the last howl is done.”
                </p>
                <a href="https://planetmosh.com/vanitas-vanitas-ep-review-planetmosh/">-Planet Mosh</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3 class="standard-h3">Info & Resources</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="https://drive.google.com/file/d/1CgjC7HMtVU8cB1udVmc7ugAQPWoK0Muk/view?usp=sharing">
                    <h3 class="standard-h3">Biography PDF</h3>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="https://drive.google.com/drive/folders/1-qKvOkFQOu5iXeOn2ja-NdxtMEr4Rzg7?usp=sharing">
                    <h3 class="standard-h3">Logos Download Link</h3>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="https://drive.google.com/file/d/1KiG-A4jUXvomQbG3XtSQPMmOPX80sYzM/view?usp=sharing">
                    <h3 class="standard-h3">Tech Spec & Stageplot Download</h3>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="https://drive.google.com/drive/folders/1FGsNZQgO_zhLcVvtJs2DkVWrar3Dg_ys?usp=sharing"><h3 class="standard-h3">EP Wav</h3></a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="https://drive.google.com/drive/folders/1FMxGWk_0wdQViu4A9avh1TFwO5g8Ofht?usp=sharing"><h3 class="standard-h3">EP MP3</h3></a>
            </div>
        </div>
    </div>

    <%- include('partials/footer') -%>