<%- include('partials/header') -%>

<div class="container standard-container">
    <div class="row">
        <div class="col">
            <h1 class="standard-h1">Signup unsuccessful</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 class="standard-h3">It seems like you've entered in your details incorrectly! Please check what each box requires before entering your details.</h3>
            <h3 class="standard-h3">The first box is for your first name, second box for your last name with the final box for your email!</h3>
            <h3 class="standard-h3">Look forward to updating you on all things Vanitas!</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-lg btn-outline-light fail-btn" onclick="window.location.href='/contact'">Try again</button>
        </div>
    </div>
    <div class="row custom-row-two">

    </div>
</div>


<%- include('partials/footer') -%>