<%- include('partials/header') -%>

    <div class="container standard-container">
        <div class="row">
            <div class="col">
                <h1 class="standard-h1">Music</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="images/eventumArtwork.jpg" alt="Eventum Artwork" class="eventum-artwork">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <iframe style="border-radius:12px"
                    src="https://open.spotify.com/embed/track/2UazsMvGhWft0Cr4TRxbhL?utm_source=generator" width="100%"
                    height="auto" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                    loading="lazy"></iframe>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <iframe style="border-radius:12px"
                    src="https://open.spotify.com/embed/track/22I3dDJc7IMfwbne90YJn2?utm_source=generator"
                    width="100%" height="352px" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                    loading="lazy"></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <iframe style="border-radius:12px"
                    src="https://open.spotify.com/embed/track/7fxl7LFgJgwWTaEj8shkLa?utm_source=generator" width="100%"
                    height="352" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                    loading="lazy"></iframe>
            </div>
        </div>
    </div>

    <%- include('partials/footer') -%>