<%- include('partials/header') -%>

    <div class="container standard-container">
        <div class="row">
            <div class="col">
                <h1 class="standard-h1">Press</h1>
            </div>
        </div>
        <div class="row">
            <div id="carousel-press-one" class="carousel slide press-carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <p>
                            “This is music with depth, texture and meaning that cries out to be heard, a more polished and
                            refined debut you may struggle to find, such is the quality of this offering from a collection
                            of musicians who have executed their vision to perfection”
                        </p>
                        <p>-8.5/10 Metal Noise</p>
                    </div>
                    <div class="carousel-item">
                        <p>
                            “Providing an eerie and chilling backdrop, the melody that begins Ghostly Coast certainly gets
                            the attention but It's the eruption of progressive and technical metal that follows most will
                            remember. The guitars are buzzing, the drums are hammering and the vocals are soaring, it’s a
                            grandiose opener that shows exactly what Vanitas mean by ‘cinematic djent’. A track to remember
                            and a clear statement from this band.”
                        </p>
                        <p>-8/10 Games,Brains & A Head-Banging Life</p>
                    </div>
                    <div class="carousel-item">
                        <p>
                            “Vanitas is a truly breath-taking debut EP, that manages to sound completely fresh thanks to the
                            heavy use of orchestral soundscapes to create these moments of beauty and emotion across the 4
                            tracks. If you like Prog,Djent or JRPG soundtracks, this EP is a must-hear and Vanitas is a band
                            you should keep a close eye on.”
                        </p>
                        <p>-8/10 Rock N Load Magazine</p>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel-press-one" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel-press-one"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        
        <hr>
        <div class="row">
            <div id="carousel-press-two" class="carousel slide press-carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <p>
                            “Within moments, I was blown away by the level of performance given by the act both musically
                            and
                            visually. With their setlist covering their entire EP, a Devin Townsend cover and their cover of
                            Attack on Titan Final Season Part 2’s opening The Rumbling as an encore, the band relentlessly
                            gave their all in one of the tightest performances I’ve had the pleasure of watching from a new
                            project in an incredibly long time. An amazing set by a band destined for big things.”
                        </p>
                        <p>-Rock N Load Magazine (Live review)</p>
                    </div>
                    <div class="carousel-item">
                        <p>
                            “The quality of the musicianship is sublime, the riffs coming thick and fast, packed with
                            groove drawn from djent roots , as the theatrical synths and strings make for a distinct
                            counterpoint, Carry On especially is where Periphery meets Disney, it's written almost as a
                            ballad but with progressive drumming sitting underneath those chunky riffs”
                        </p>
                        <p>-8/10 Musipedia of Metal</p>
                    </div>
                    <div class="carousel-item">
                        <p>
                            “Melodic guitar lines and solos are pinned down by a watertight rhythm section of bass
                            bludgeon and some seriously insane kick drumming from Marc Watkins! The vocals raise you up
                            and don’t let go until the last howl is done.”
                        </p>
                        <p>-Planet Mosh</p>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel-press-two"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel-press-two"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
            </div>
        </div>
        
    </div>

    <%- include('partials/footer') -%>