<%- include('partials/header') -%>



<div class="container standard-container">
    <div class="row">
        <div class="col">
            <h1 class="standard-h1"></h1>
        </div>
    </div>
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>

<%- include('partials/footer') -%>