<%- include('partials/header') -%>

    <div class="container standard-container">
        <div class="row">
            <div class="col">
                <h1 class="standard-h1">Official Music Videos</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <iframe width="960" height="540" class="big-vid" src="https://www.youtube.com/embed/bUmt6XWcurc"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
        </div>
        <hr>
        <div class="row g-0">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <!-- <h2>Ghostly Coast</h2> -->
                <iframe class="music-vids" width="560" height="315" src="https://www.youtube.com/embed/Yg5xm6LaesI"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <!-- <h2></h2> -->
                <iframe class="music-vids" width="560" height="315" src="https://www.youtube.com/embed/QqK-9THBTE4"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <!-- <h2>Breaking illusions</h2> -->
                <iframe class="music-vids" width="560" height="315" src="https://www.youtube.com/embed/Sqk-cvJ7E0Q"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <iframe class="music-vids" width="560" height="315" src="https://www.youtube.com/embed/AMM5gEn1yOM"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <%- include('partials/footer') -%>