body {
    background-image: url("/images/websiteBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
    font-family: ubuntu;
}
/* Navbar */

.navbar {
    font-size: 1.5rem;
    background-color: black;
    opacity: 0.85;
    z-index: 1;
}
.navbar-brand {
    position: absolute;
}
.navbar-nav {
    margin: 0 auto;
}
.nav-item {
    margin: 0 .5rem;
}

.icons-nav {
    position: absolute;
    right: 0;
    display: flex;
}
.fa-brands {
    transition: transform ease-in-out;
}
.fa-brands:hover {
    transform: scale(1.2);
}

/* navbar dropdown on hover */
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}
@media all and (max-width: 992px) {
    .navbar-brand { position: relative;}
    .icons-nav {position: relative;}
}


/* home page */

/* main {
    flex: 1;
} */

/* footer */
footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: black;
    text-align: center;
    opacity: 0.85;
    color: white;
    font-size: 1.5em;
}
.bottom-logo {
    height: 5rem;
    margin: 1rem;
}
.footer-text {
    color: white;
    padding: 1rem;
}